<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtyt.util.mapper.InitMapper">

	<select id="getSysPaList" useCache="false" resultType="SystemParameterBean">
		SELECT
		PARAM_NAME,
		PARAM_VALUE FROM T_SERVER_PARAMETER
	</select>

	
	<select id="getSysCounties" useCache="false" resultType="CountiesInfoBean">
		SELECT
		county_no,
		county_name,
		city_code,
		city_name,
		sys_code,
		province_code,
		province_name,
		c_level
		FROM T_SYS_COUNTIES
	</select>
	
</mapper>

